<p class="subscribe-newsletter">
  Want to hear more from Software Critic?
</p>

<form class="subscribe-form" action="http://critick.us13.list-manage1.com/subscribe/post?u=d44688203cf48fa34641224f7&amp;id=c3234e4a41" method="post" target="popupwindow" onsubmit="window.open('http://critick.us13.list-manage1.com/subscribe/post?u=d44688203cf48fa34641224f7', 'popupwindow', 'scrollbars=yes,width=600,height=620');return true">
  <label for="tlemail"></label>
  <input type="text" placeholder="Email Address" name="EMAIL" id="tlemail" class="subscribe_input" />
  <input type="hidden" value="1" name="embed">
  <button type="submit" name="subscribe">
    Subscribe
  </button>
</form>
